.SignupForm {
  flex-grow: 1;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  &-Submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.75rem;
    padding-bottom: 1rem;
  }
}
