.Workspace {
  display: flex;
  position: absolute;
  flex-direction: row;
  height: 100%;
  width: 100%;
  &-Settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-Title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
