@import 'base';

.container {
  @extend .flex-column-center;
  justify-content: flex-start;
  font-weight: 400;
  padding-top: 1.5rem;
}
.panel {
  @extend .flex-column-center;
  justify-content: center;
  padding: 1.25rem;
  width: 35%;
  min-width: 250px;
  min-height: 270px;
  @include mobile {
    width: 75%;
  }
}
.or {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-size: 1.3rem;
}
.signup {
  @extend .flex-column-center;
  justify-content: center;
  margin-top: 2rem;
  &Label {
    font-size: 1.3rem;
    font-size: 1rem;
    font-weight: bold;
    color: $mediumGray;
    font-weight: 400;
  }
  &Link {
    font-size: 1.2rem;
    &:hover {
      // color: $materialBlue;
    }
  }
}
.providers {
  margin-top: 1rem;
}
.github {
  @extend .flex;
  width: 240px;
  padding-top: 6.66px;
  padding-bottom: 7px;
  &Icon {
    padding-right: 25px;
    padding-bottom: 7px;
  }
}
