 .Signup {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  &-Form {
    flex-grow:1;
    flex-basis: 35%;
    min-width: 250px;
    font-size: 1.4rem;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  &-Login {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
  }
  &-Login-Label {
    font-size: 1rem;
    font-weight: bold;
    color: #979797;
    }
  &-Login-Link {
    font-size: 1rem;
    margin-top: .4rem;
    &:hover {
      color: #00bcd4;
    }
  }
  &-Progress {
    margin-top: 5rem;
  }
}

.Submit-Signup-Form {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  padding-top: 1.75rem;
  padding-bottom: 1rem;
}
