@import 'base';

.container {
  box-sizing: border-box;
  min-width: 240px;
  min-height: 200px;
  transform: rotate(0deg);
  overflow: hidden;
  // Hide scrollbar from showing in sidebar
  ::-webkit-scrollbar {
    display: none;
  }
}
.filehover {
  border: 3px dashed #b2dfdb;
  .dropzone {
    margin: -3px;
  }
}
.dropzone {
  @extend .flex-column;
  padding-top: 2rem;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  @include mobile {
    padding-top: .5rem;

  }
}
a {
  text-align: center;
}
.treeview {
  @extend .flex-row-center;
  flex: auto;
  flex-grow: 1;
}
.buttons {
  @extend .flex-row;
  justify-content: space-around;
  padding: 20px 10px 0 10px;
  margin-bottom: 10px;
  @media screen and (max-width: 700px){
    padding: 0 10px 5px 10px;
  }
}

// Hide default choose file button
.file-input {
  display: none !important;
}
