@import '../../variables';

.TreeView {
	list-style-type: none;
	font-size: 1.4rem;
	min-width: 200px;
	-webkit-flex-flow: row wrap;
	-webkit-padding-start: 0;
	margin: .5rem 0;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	position: relative;
	overflow: scroll;
	&-Structure {
		list-style-type: none;
		font-size: 1.4rem;
		min-width: 200px;
		-webkit-padding-start: 0;
		margin: .5rem 0;
		display: flex;
		flex-direction: column;
		li {
			padding-left: 10px;
		  line-height: 2.3rem;
		  font-weight: 300;
			position: relative;
			cursor: pointer;
			float: left;
			width: 100%;
		}
	}
	&-Container {
		// position: absolute;
		flex-grow: 1;
		overflow: scroll;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	&-Loader {
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
		width: 56px;
	}
	&-NewInput {
		width: 150px;
	}
	&-None {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: default;
		user-select: none;
		-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
		flex-grow: 1;
		align-self: center;
		strong {
			font-weight: 500;
		}
		&-Desktop {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		@media screen and (max-width: 768px){
			&-Desktop {
				display: none;
			}
		}
		@media screen and (min-width: 768px){
			&-Mobile {
				display: none;
			}
		}
	}
	&-Upload {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}
