@import '../../variables';

.Tabs {
  display: flex;
  position: relative;
  width: 100%;
  list-style-type: none;
  background-color: $darkGray;
  margin: 0;
  padding: 0;
  height: 33px;
  border-left: 1px solid black;
  overflow-x: auto;
}
