@import '../../variables';
.Project {
  position: relative;
  width: 100%;
  min-height: 50%;
  flex-grow: 1;
  &-Toolbar {
    background-color: $subNavbar !important;
  }
  &-Select {
    padding-left: 1rem;
  }
}
