<section layout="row" layout-fill>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true" flex="15" ng-if="currentUser">
    <md-content layout-padding layout-align="center" layout="column">
      <div layout="column" layout-align="left" flex>
        <div flex layout="row" layout-sm="column">
          <md-button md-no-ink class="md-raised hc-btn" ng-click="publishCurrentFile()" aria-label="Publish Project" disabled="true"><i class="fa fa-cloud-upload"></i></md-button>
          <md-button md-no-ink class="md-raised hc-btn" ng-click="publishCurrentFile()" aria-label="Publish File" ng-disabled="!currentFile"><i class="fa fa-upload"></i></md-button>
        </div>

        <div flex layout="row" layout-sm="column">
          <md-button class="md-raised hc-btn" ng-click="data.createMode = 'file'" aria-label="New File" style="font-size:.7em;">
            <i class="fa fa-plus"></i>
            <i class="fa fa-file"></i>
          </md-button>
          <md-button class="md-raised hc-btn" ng-click="data.createMode = 'folder'" aria-label="New Folder" style="font-size:.7em;">
            <i class="fa fa-plus"></i>
            <i class="fa fa-folder"></i>
          </md-button>
        </div>
      </div>

      <!-- Files -->
      <div class="filestree-wrapper" layout-padding>
        <treecontrol class="tree-classic" tree-model="structure" options="tree.opts" on-selection="open(node)" selected-node="tree.selectedNode" expanded-nodes="tree.expandedNodes">
          {{node.name}}
        </treecontrol>
        <span ng-if="!file || files.length < 1">Hover over <i class="fa fa-plus"></i> to add a file or folder</span>
        <!-- File Upload -->
        <div layout="column" layout-fill>
          <div ngf-drop ngf-select ng-model="files" class="drop-box" 
          ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
          accept="image/*,application/pdf" style="font-size:.4em;">
            Drop files here to add
          </div>
          <div ngf-no-file-drop>
            File Drag/Drop is not supported for this browser
          </div>
          <div ng-if="files && files.length > 0" style="font-size:.5em;">
            <span>Files:</span>
            <ul>
              <li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
            </ul>
          </div>
          <!-- Upload Log:
          <pre>{{log}}</pre> -->
        </div>

      </div>
      <div flex style="height:150px;"></div>
      <div layout="column" layout-align="center">
        
      </div>
    </md-content>
  </md-sidenav>
  <md-content layout-fill layout="column">
    <md-toolbar class="hc-name-entry" style="" ng-if="data.createMode"  layout-align="center end" layout="row">
      <div class="md-toolbar-tools">
        <div layout="row" layout-sm="column" layout-align="center center">
          <md-input-container>
            <label ng-if="data.createMode == 'file'">File Name</label>
            <label ng-if="data.createMode == 'folder'">Folder Name</label>
            <input ng-model="data.newName">
          </md-input-container>
          <md-button class="md-raised" ng-click="createNew()">Create</md-button>
          <md-button class="md-raised" ng-click="data.createMode = null">Cancel</md-button>
        </div>
      </div>
    </md-toolbar>
    <div ui-ace="{showGutter:true, useWrapMode: true, theme:'monokai', onLoad:aceLoaded, onChange:aceChanged}" layout-fill flex></div>
  </md-content>
</section>
