.ace_editor {height: 800px; width:100%;}

.button-new{
	min-width:50px;
}
.filestree-wrapper{
	margin-top:1.25em;
}

.hc-black {
	background-color:black;
}
.hc-name-entry {
	height:60px; 
	background-color:white;
}

/* File */
/*Modified Angular Tree Control*/

