<section layout="row" layout-fill>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true" flex="15" ng-if="currentUser">
    <md-content layout-padding layout-align="center" layout="column">
      <div layout="row" layout-align="left" flex>
        <div flex>
          <md-fab-speed-dial md-open="false" md-direction="right" ng-class="'md-scale'">
            <md-fab-trigger>
              <md-button aria-label="menu" class="md-fab md-warn hc-btn" ng-click="">
                <i class="fa fa-plus"></i>
              </md-button>
            </md-fab-trigger>
            <md-fab-actions>
              <md-button class="md-fab md-raised md-mini hc-btn" ng-click="data.createMode = 'file'" aria-label="New File" style="font-size:.7em;">
                <i class="fa fa-file"></i></md-icon>
              </md-button>
              <md-button class="md-fab md-raised md-mini hc-btn" ng-click="data.createMode = 'folder'" aria-label="New Folder" style="font-size:.7em;">
                <i class="fa fa-folder"></i></md-icon>
              </md-button>
            </md-fab-actions>
          </md-fab-speed-dial>
        </div>
      </div>

      <!-- Files -->
      <div class="filestree-wrapper" layout-padding>
        <treecontrol class="tree-classic" tree-model="structure" options="tree.opts" on-selection="open(node)" selected-node="tress.selectedNode" expanded-nodes="tree.expandedNodes">
          {{node.name}}
        </treecontrol>
        <span ng-if="!file || files.length < 1">Hover over <i class="fa fa-plus"></i> to add a file or folder</span>
      </div>
      <div flex style="height:150px;"></div>
      <div layout="row" layout-align="center">
        <div flex>
          <md-button md-no-ink class="md-fab md-raised hc-btn" ng-click="publishCurrentFile()" aria-label="Publish Project" disabled="true"><i class="fa fa-cloud-upload"></i></md-button>
        </div>
        <div flex>
          <md-button md-no-ink class="md-fab md-raised hc-btn" ng-click="publishCurrentFile()" aria-label="Publish File" ng-disabled="!currentFile"><i class="fa fa-upload"></i></md-button>
        </div>
      </div>
    </md-content>
  </md-sidenav>
  <md-content layout-fill layout="column">
    <md-toolbar class="hc-name-entry" style="" ng-if="data.createMode"  layout-align="center end" layout="row">
      <div class="md-toolbar-tools">
        <div layout="row" layout-sm="column" layout-align="center center">
          <md-input-container>
            <label ng-if="data.createMode == 'file'">File Name</label>
            <label ng-if="data.createMode == 'folder'">Folder Name</label>
            <input ng-model="data.newName">
          </md-input-container>
          <md-button class="md-raised" ng-click="createNew()">Create</md-button>
          <md-button class="md-raised" ng-click="data.createMode = null">Cancel</md-button>
        </div>
      </div>
    </md-toolbar>
    <div ui-ace="{showGutter:true, useWrapMode: true, theme:'monokai', onLoad:aceLoaded, onChange:aceChanged}" layout-fill flex></div>
  </md-content>
</section>
