.Home {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-Hero {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
