.Home {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-Hero {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-Buttons {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
