.Home {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
  overflow-y: scroll;
  &-Hero {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 100%;
    position: relative;
  }
  &-PreviewVideo {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
  }
  &-Name {
    font-size: 5rem;
    font-weight: 800;
    text-decoration: bold;
    text-transform: uppercase;
  }
  &-Description {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
  }
  &-MeInThree {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;

    &-Item{
      flex-basis: 300px;
      padding: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &-Title {
      font-size: 1.2rem;
      font-weight: 500;
    }

    &-Desc {

    }
  }
  &-Footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: .2;

    a {
      text-decoration: underline;
    }
  }
}
