.CodeMirror {
  height: auto !important;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; position: relative;
}
.firepad {
  height: auto;
  width: 100%;
  height: 100%;
  overflow: scroll;
  ::-webkit-scrollbar {
      width: 12px;
  }
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
}
.powered-by-firepad {
  display: none !important; // sorry guys it looks terrible :(
}
