.apps-tile {

}	
.apps-tile .title {
	padding-top:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
}
.apps-tile .name-input{

}

.apps-tile .md-actions{
	margin-right:15px;
}
.page-button {
	font-size:1em;
}
.page-icon {
	font-size:1.3em;
}