  <md-content layout-padding class="hc-background">
    <md-grid-list md-cols-gt-md="8" md-cols-sm="2" md-cols-md="4" md-row-height-md="1.4:1"
    md-row-height-lg="1.5:1" md-row-height-gt-lg="1.9:1" md-row-height-sm="1:1.5"
    md-gutter-gt-md="25px" md-gutter-gt-sm="40px" md-gutter="4px" style="margin-top:25px;">
      <!-- App Tiles -->
      <md-grid-tile class="apps-tile" ng-repeat="app in applications" md-colspan="2" md-rowspan-sm="1" md-rowspan-md="2" md-rowspan-gt-md="3">
        <md-card layout="column" layout-fill layout-padding>
          <md-card-content>
            <md-button md-no-ink class="md-primary title" ui-sref="app.editor({name:app.name})">{{app.name}}</md-button>
            <p>
            <i class="fa fa-user"></i> &nbsp;&nbsp;<span>{{app.owner.username}}</span>
            </p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end end" flex>
            <md-button class="md-fab md-accent hc-btn" aria-label="Settings" ng-click="delete($index)">
              <i class="fa fa-trash"></i>
            </md-button>
            <span flex></span>
            <md-button class="md-fab md-primary hc-btn" aria-label="Open App" ui-sref="app.editor({name:app.name})">
              <i class="fa fa-cubes"></i>
            </md-button>
          </div>
        </md-card>
      </md-grid-tile>
      <!-- New app Tile -->
      <md-grid-tile class="apps-tile" md-colspan="2" md-rowspan-sm="1" md-rowspan-md="2" md-rowspan-gt-md="3">
        <md-card class="new-app-card" layout="column"  layout-fill layout-align="center center" ng-click="startNew()">
          <md-card-content class="new-app-card-content">
            <h4 class="title top">Create New</h4>
            <h4 class="title">Application</h4>
          </md-card-content>
        </md-card>
      </md-grid-tile>
    </md-grid-list>
  </md-content>
