<md-content layout="column" layout-padding layout-align="center center">
  <md-whiteframe flex class="md-whiteframe-z1" layout-align="center center">
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-input-container >
        <label>Name</label>
        <input ng-model="application.name" type="text">
      </md-input-container>
      <md-input-container >
        <label>createdAt</label>
        <input ng-model="application.createdAt" type="text">
      </md-input-container>
    </section>
    <section layout="column" layout-sm="column">
      <label class="md-title">Owner</label>
      <label>{{application.owner.username}}</label>

    </section>
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-button class="md-raised" ng-click="update()">Save</md-button>
    </section>
  </md-whiteframe>
</md-content>