.Account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
  &-Logout {
    margin-top:1rem;
  }
  &-DropText {
    height: 100%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-Data {
    display:flex;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
  &-Buttons {
    display:flex;
    flex-direction: column;
    min-width: 15%;
  }
  &-ImageManager {
    display: flex;
    flex-direction: row;
    &-Preview {
      width: 10rem;
      height: auto;
    }
  }
}
