html {
  background-color: #f2f4f8;
  overflow-x: hidden;
}
body {
  color: #788288;
  background-color: transparent;
}
.hc-background {
	background-color: #f2f4f8;
}
.md-content {
	background-color: #f2f4f8;
}
.md-whiteframe-z1,.md-whiteframe-z2 {
	background-color:white !important;
}
.preview-frame {
/*	-moz-box-shadow: 4px 4px 10px #000;
  -webkit-box-shadow: 4px 4px 10px #000;
  box-shadow: 4px 4px 10px #000;*/
  position:relative;
  border:none;
  /*border-top: #c00 1px dotted;*/
  /*border-right: #c00 2px dotted;*/
  /*border-left: #c00 2px dotted;*/
  /*border-bottom: #c00 4px dotted;*/
}