html {
  background-color: #f2f4f8;
  overflow-x: hidden;
}
body {
  color: #788288;
  background-color: transparent;
}
.hc-background {
	background-color: #f2f4f8 !important;
}
.md-content {
	background-color: #f2f4f8 !important;
}