html {
  background-color: #f2f4f8;
  overflow-x: hidden;
}
body {
  color: #788288;
  background-color: transparent;
  font-size:1.6em;
}
.hc-btn {
	font-size:.8em;
}
.hc-background {
	background-color: #f2f4f8;
}
.md-content {
	background-color: #f2f4f8;
}
.md-whiteframe-z1,.md-whiteframe-z2 {
	background-color:white !important;
}
.preview-frame {
  position:relative;
  border:none;
}
.outline-green {
	background:none !important;
	border: 2px solid rgb(0,180,23);
}
.outline-blue {
	background:none !important;
	border: 2px solid rgb(33,150,243);
}
.nav-buttons {
	font-size:1.1em;
	font-weight:400;
	padding-right:40px;
	padding-left:40px;
	margin-right:10px;
	margin-left:10px;
	/*background-color:transparent !important;*/
	border-radius: 10px 0 0 10px;
}


