@import 'base';

.container {
	@extend .flex-column-center;
	list-style-type: none;
	font-size: 1.4rem;
	min-width: 200px;
	margin: .5rem 0;
	flex-grow: 1;
	position: relative;
	overflow: scroll;
	-webkit-flex-flow: row wrap;
	-webkit-padding-start: 0;
	// Hide scrollbar from showing
	::-webkit-scrollbar {
    display: none;
	}
}
.wrapper {
	@extend .flex-column;
	flex-grow: 1;
	overflow: scroll;
	justify-content: flex-start;
	align-items: flex-start;
}
.loader {
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	width: 56px;
}

.empty {
	@extend .flex-column-center;
	justify-content: center;
	cursor: default;
	@extend .none;
	flex-grow: 1;
	align-self: center;
	strong {
		font-weight: 500;
	}
	&Desktop {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include mobile {
			display: none;
		}
	}
	&Mobile {
		@include desktop {
			display: none;
		}
	}
}
