<md-toolbar class="md-primary shadow-z-2">
  <div class="md-toolbar-tools">
    <div flex>
      <md-select ng-if="currentUser" ng-model="someVal" aria-label="User">
        <md-select-label>
          <i class="fa fa-user" ng-if="!currentUser.name"></i>
          &nbsp;
          {{application.name}}
          &nbsp;
        </md-select-label>
      <md-option ng-repeat="app in applications" ui-sref="app.editor({name:app.name})">{{app.name}}</md-option>
      </md-select>
    </div>
    <div flex>
        <md-button md-no-ink class="" ui-sref="app.editor" ><i class="fa fa-code"></i>  Editor</md-button>
        <md-button md-no-ink class="" ui-sref="app.preview"><i class="fa fa-mobile"></i>  Preview</md-button>
        <md-button md-no-ink class="" ui-sref="app.settings"><i class="fa fa-cogs"></i>  Settings</md-button>
    </div>
    <span flex></span>
  </div>
</md-toolbar>
<md-content layout-fill>
  <div ui-view></div>
</md-content>
