<md-toolbar class="md-primary shadow-z-2">
  <div class="md-toolbar-tools" layout-align="center">
    <div flex="25">
      <md-select ng-if="currentUser" ng-model="someVal" aria-label="User">
        <md-select-label>
          <i class="fa fa-user" ng-if="!currentUser.name"></i>
          &nbsp;
          {{application.name}}
          &nbsp;
        </md-select-label>
      <md-option ng-repeat="app in applications" ui-sref="app.editor({name:app.name})">{{app.name}}</md-option>
      </md-select>
    </div>
    <div flex="75" layout-align="center" layout="row">
        <div flex>
          <md-button class="page-button" ui-sref="app.editor" ng-class="{'md-warn':stateName == 'app.editor'}"><i class="fa fa-code page-icon"></i>  Editor</md-button>
        </div>
        <div flex>
          <md-button class="page-button" ui-sref="app.preview" ng-class="{'md-warn':stateName == 'app.preview'}"><i class="fa fa-mobile page-icon"></i>  Preview</md-button>
        </div>
        <div flex>
          <md-button class="page-button" ui-sref="app.settings" ng-class="{'md-warn':stateName == 'app.settings'}"><i class="fa fa-cogs page-icon"></i>  Settings</md-button>
        </div>
    </div>
  </div>
</md-toolbar>
<div ui-view layout-fill style="height:100%;"></div>
