<section layout="row" flex layout-fill>
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true" flex="15" ng-if="currentUser">
    <md-content layout-padding>
<!--  <md-button ng-click="close()" class="md-primary" hide-gt-md>
        Close Sidenav Left
      </md-button> -->
      <div layout="column">
        <h3 class="md-title md-padding">{{application.name || "No Name"}}</h3>
        <md-button md-no-ink class="" ui-sref="app.editor" ><i class="fa fa-code"></i>  Editor</md-button>
        <md-button md-no-ink class="" ui-sref="app.preview"><i class="fa fa-mobile"></i>  Preview</md-button>
        <md-button md-no-ink class="" ui-sref="app.settings"><i class="fa fa-cogs"></i>  Settings</md-button>
      </div>
    </md-content>
  </md-sidenav>
	<div ui-view layout-fill></div>
</section>
