.TreeFolder {
  cursor: pointer;
  vertical-align: center;

  &-Info {
    margin-left: .4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

  }
  &-Children {
    list-style-type:none;
    padding-left:0;
  }
  &-Name {
    height:100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
