@import 'base';
.content {
  @extend .flex-column;
  font-weight: 300;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  margin-bottom: 20px;
  min-height: 250px;
}
.warning {
  display: inline;
  color: red;
}
.question {
  margin-top: 1rem;
}
.restatement {
  margin-top: 1rem;
  &Name {
    color: $primary;
    margin-left: .5rem;
  }
}
.inputGroup {
  @extend .flex-column;
  margin-top: 1rem;
  justify-content: flex-start;
  align-items: center;
}
