.SharingDialog {
  &-AutoComplete {
    &-Container {
      margin: 0 auto;
      width: 80%;
    }
  }
  &-Content {
    display: flex;
    flex-direction: column;
  }
  &-No-Collabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
