@import '../../variables';
.Navbar {
  box-sizing: border-box;
  &-Brand {
    color: $navbarText;
    font-weight: 300;
  }
  &-Avatar {
    margin-right: 1rem;
  }
  &-Main-Menu {
    margin-top: 6px;
    button {
      span {
        font-weight: 300;
        text-decoration: none;
        color: $navbarText;
      }
    }
  }
}
