@import '../../variables';
.Navbar {
  box-sizing: border-box;
  &-Brand {
    color: $navbarText;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    align-items: center;

    &-Logo{
      height: 25px;
      width: 25px;
      margin-right: 10px;
    }
  }
  &-Avatar {
    margin-right: 1rem;
  }
  &-Main-Menu {
    margin-top: 6px;
    button {
      span {
        font-weight: 300;
        text-decoration: none;
        color: $navbarText;
      }
    }
  }
}
