.Navbar {
  box-sizing: border-box;
  &-Avatar {
    margin-right: 1rem;
  }
  &-Main-Menu {
    margin-top: 6px;
    button {
      span {
        text-decoration: none;
        color: white;
      }
    }
  }
}
